@color-main:#f67909;
@color666: #666;
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul,ol{
    list-style: none;
}
body{
    font-size: 12px;
}
.width{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    display: block;
    content: '';
    clear: both;
}
.top_bg{
    height: 40px;
    line-height: 40px;
    background-color: #efefef;
    a{
        color: @color-main;
    }
    .top{
        width: 1200px;
        margin: 0 auto;
        .top_left{
            float: left;
            a:hover{
                text-decoration: underline;
            }
        }
        ul{
            float: right;
            li{
                float: left;
                a{
                    color: @color666;
                }
                span{
                    margin: 0 20px;
                    color: @color666;
                }
                a:hover{
                    color: @color-main;
                }
            }
        }
    }
}
.top_middle{
    overflow: hidden;
   .logo{
       float: left;
       margin-top: 50px;
       margin-left: 20px;
        width: 210px;
        height: 60px;
   }
   .search{
       float: left;
       padding-left:250px;
       .search_head{
           margin-top: 30px;
           li{
               float: left;
               a{
                   display: block;
                   padding: 10px 20px;
                   letter-spacing: 8px;
                   color: @color-main;
               }
               .search_active{
                   background-color: @color-main;
                   color: #fff;
               }
               a:hover{
                background-color: @color-main;
                color: #fff;
               }
           }
       }
       form{
            input{
                float: left;
                width: 390px;
                height: 30px;
                border: 2px solid @color-main;
                outline: 0;
                padding-left: 20px;
            }
            a{
                float: left;
                width: 70px;
                height: 34px;
                background-color: @color-main;
                background-image: url(../images/search.png);
                background-repeat: no-repeat;
                background-position: center;
            }
       }
       .hot_sea{
           clear: both;
           padding-top: 20px;
           span{
                color: black;
                float: left;
           }
           ul{
               float: left;
               li{
                   float: left;
                   padding: 0 10px;
                   a{
                       color: @color666;
                   }
                   a:hover{
                       color: @color-main;
                   }
               }
           }
       }
      
   }
   .shopping{
        float: right;
        width: 130px;
        height: 40px;
        line-height: 40px;
        margin-top: 60px;
        background-image: url(../images/cart_bg.png);
        background-repeat: no-repeat;
        position: relative;
        span{
            padding-left: 60px;
            color: #fff;
            background: url(../images/cart.png) no-repeat;
            background-position: 20px center;
        }
        i{
            display: block;
            position: absolute;
            top: 5px;
            left: 40px;
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            border-radius: 50px;
            font-style: normal;
            background-color: #fff;
            color: @color-main;
        }
    }
}
.top_nav{
    clear: both;
    padding-top: 25px;
    overflow: hidden;
    .memu{
        float: left;
        width: 230px;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        background-color: @color-main;
        a{
            color: #fff;
            font-size: 16px;
            display: block;
            img{
                float: right;
                margin-top: 17px;
                margin-right: 17px;
            }
        }
    }
    .memu_class{
        float: left;
        li{
            float: left;
            margin-left: 80px;
            a{
                display: block;
                background-color: @color-main;
                line-height: 50px;
                padding: 0 30px;
                color: #fff;
                font-size: 16px;
                border-radius: 50px 50px 0 0;
            }
        }
    }
    .activity{
        float: right;
        height: 50px;
        line-height: 50px;
        a{
            font-size: 16px;
            color: @color-main;
            margin-right: 40px;
        }
    }
}
// banner模块
.mian_top{
    clear: both;
    width: 100%;
    height: 520px;
    border-top:4px solid @color-main;
    background-color: #fceddf;
    .width{
        overflow: hidden;
    }
    .sub_column{
        float: left;
        width: 250px;;
        li{
            height: 42px;
            line-height: 43px;
            background-color: #fff;
           
            border-bottom: 1px solid #e5e5e5;
            a{
                font-size: 14px;
                color: #868685;
                display: block;
                overflow: hidden;
                position: relative;
                padding-left: 20px;
                span{
                    float: left;
                    
                }
                i{
                    float: right;
                    margin-right: 20px;
                }
            }
            a:hover{
                background-color: @color-main;
                color: #fff;
            }
           
            
        }
        
    }
    .banner{
        float: left;
        margin: 5px 5px 0 5px;
        width: 690px;
        .ban_top{
            position: relative;
            width: 690px;
            height: 330px;
            box-sizing: border-box;
            .rotation{
                li{
                    height: 330px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
                
            }
            .spot{
                width: 100%;
                height: 30px;
                background: rgba(0, 0, 0, .5);
                position: absolute;
                bottom: 0;
                li{
                    width: 17px;
                    height: 4px;
                    background-color:#fff;
                    float: right;
                    margin-right: 10px;
                    margin-top: 14px;
                }
                .spot_activt{
                    background-color: @color-main;
                }
            }
        }
        .ban_bot{
            padding-top: 1px;
            li{
                float: left;
                width: 229px;
                height:  175px;
                margin-right: 1px;
                a{
                    display: block;
                    position: relative;
                    .bot_text{
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        width: 229px;
                        height:  175px;
                        color: #fff;
                        padding-top: 60px;
                        box-sizing: border-box;
                        h3{
                            font-size: 18px;
                            font-weight: normal;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        
    }
    .sign{
        float: left;
        margin-top: 5px;
        width: 250px;
        // 登录
        .sign_top{
            width: 250px;
            height: 45px ;
            line-height: 45px;
            text-align: center;
            background-color: @color-main;
            a{
                display: inline-block;
                background-color: #f67909;
                color: #fff;
                width: 110px;
                font-size: 15px;

            }
            span{
                color: @color666;
                font-size: 15px;
            }
        }
        //新闻
        .notice{
            padding-top: 5px;
            height: 280px;
            overflow: hidden;
            .notce_title{
                overflow: hidden;
                li{
                    float: left;
                    width: 125px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    a{
                        font-size: 16px;
                        display: block;
                        background-color: #f1f1f1;
                        color: black;
                    }
                    .noatce_ative{
                        border-top:4px solid @color-main;
                        background-color: #fff;
                        font-weight: bold;
                    }

                }
            }
            .notce_con{
                clear: both;
                background-color: #fff;
                // padding-top: 20px;
                height: 264px;
                li{
                    padding-top: 15px;
                    a{
                        padding-left: 10px;
                        font-size: 14px;
                        color: #000;
                        display: block;
                        span{
                            float: right;
                            margin-right: 20px;
                        }
                    }
                    a:hover{
                        color: @color-main;
                    }

                }
            }
            
           
        }
        //推荐
        .recommend{
            h3{
                font-size: 15px;
                border-left: 6px solid @color-main;
                background-color:#f0f0f0 ;
                padding: 5px 10px;
            }
            .rec_ban{
                background-color: #fff;
                text-align: center;
                height: 145px;
                position: relative;
                ul{
                    img{
                        margin-top: 15px;
                    }
                }
                .left_arrow{
                    position: absolute;
                    left: 0;
                    top: 50px;
                    width: 25px;
                    height: 45px;
                    line-height: 45px;
                    background: #a7a7a7;
                    color: #fff;
                    font-size: 20px;
                }
                .right_arrow{
                    position: absolute;
                    right: 0;
                    top:50px;
                    width: 25px;
                    height: 45px;
                    line-height: 45px;
                    background: #a7a7a7;
                    color: #fff;
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                    margin-top: 6px;
                }
                
            }
        }

    }
}
// 限时秒杀
.seckill{
    margin-top: 30px;
    .sekill_time{
        float: left;
        width: 230px;
        height: 145px;
        background: url(../images/seckill.png) no-repeat;
        background-size: 100%;
        position: relative;
        .sekill_time_title{
            position:absolute;
            right: -15px;
            top: 35px;
            h3{
                width: 200px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                color: #fff;
                background-color: #e85246;
                float: left;
                // margin-left: 30px;
                // margin-top: 35px;
            }
            .triangle{
                display: inline-block;
				width: 0;
				height: 0;
				border: 15px solid transparent;
				border-left-color: #e85246;
				border-bottom-color: transparent;
				border-top-color: transparent;
				border-right: none;
			}
        }
        .sekill_time_con{
            position:absolute;
            right: 0;
            top: 75px;
            width: 200px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #525252;
            background-color: #fffae8;
        }
    }
    ul{
        float: left;
        width: 970px;
        height: 145px;
        border: 1px solid #d2d2d2;
        box-sizing: border-box;
        li{
            float: left;
            width: 321px;
            border-right:1px solid #d2d2d2; ;
            box-sizing: border-box;
            img{
                float: left;
                margin: 15px 20px;
            }
            .sekill_text{
                float: left;
                p{
                    width: 100px;
                    margin-top: 15px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
                h3{
                    font-size: 16px;
                }
                .sekill_buy{
                    margin-top: 15px;
                    span{
                        float: left;
                        font-size: 14px;
                        padding:5px 10px;
                        text-decoration: line-through;
                    }
                    div{
                        float: left;
                        margin-left: 10px;
                        span{
                            padding: 5px 0 5px 10px;
                            background-color: @color-main;
                            color: #fff;
                            font-size: 14px;
                            float: left;
                            text-decoration: none;
                            
                        }
                        i{
                            float: left;
                            width: 0;
                            height: 0;
                            border: 14px solid transparent;
                            border-left-color: @color-main;
                            border-bottom-color: transparent;
                            border-top-color: transparent;
                            border-right: none;
                        }
                    }
                }
            }
        }
        li:last-child{
            border: none;
        }
    }
}
// 热门
.hot{
    clear: both;
    h3{
        padding-top: 30px;
        margin-bottom: 15px;
        font-size: 26px;
        span{
            font-size: 18px;
            color: #ccc;
            margin-left: 10px;
            font-weight: normal;
        }
    }
    .auction{
        float: left;
        width: 325px;
        height: 290px;
        border: 1px solid #d2d2d2 ;
        box-sizing: border-box;
        .auction_title{
            height: 40px;
            line-height: 40px;
            width: 100%;
            background-color: #f4f3f3;
            border-bottom: 1px solid #d2d2d2;
            h4{
                float: left;
                span{
                    // display: inline-block;
                    margin-left: 10px;
                    padding-left: 10px;
                    border-left: 8px solid @color-main;
                    font-size: 15px;
                }
               
            }
            a{
                float: right;
                margin-right: 10px;
            }
         }
         .auction_time{
             display: inline-block;
             margin-left: 60px;
             margin-top: 20px;
             
             span{
                display: inline-block;
                 width: 30px;
                 height: 25px;
                 text-align: center;
                 line-height: 25px;
                 background-color: @color-main;
                 color: #fff;
                 margin: 0 2px;
             }
         }
         .auction_banner{
             margin-top: 20px;
             text-align: center;
             position: relative;
             .left_arrow{
                position: absolute;
                left: 0;
                top: 32px;
                width: 25px;
                height: 45px;
                line-height: 45px;
                background: #a7a7a7;
                color: #fff;
                font-size: 20px;
            }
            .right_arrow{
                position: absolute;
                right: 0;
                top:32px;
                width: 25px;
                height: 45px;
                line-height: 45px;
                background: #a7a7a7;
                color: #fff;
                font-size: 20px;
            }

         }
         .auction_text{
             display: block;
             overflow: hidden;
             h5{
                margin-left: 50px;
                margin-top: 10px;
                font-size: 14px;
             }
             .sekill_buy{
                margin-left: 50px;
                 span{
                     float: left;
                 }
                 .price{
                     font-size: 18px;
                     font-weight: bold;
                     padding: 5px 0;
                 }
                 .go_shopping{
                     float: right;
                     margin-right: 30px;
                 }
             }   
         }
}
    .auction_list{
        float: left;
        width: 650px;
        border-bottom: 1px solid #d2d2d2;
        height: 290px;
        box-sizing: border-box;
       li{
           float: left;
           width: 321px;
           height: 145px;
           border-top: 1px solid #d2d2d2;
           border-right: 1px solid #d2d2d2;
           background: url(../images//hot.png) no-repeat;
           background-position: 0 0;
        a{
            display: block;
            img{
                float: left;
                margin: 30px 15px 10px 16px;
            }
            .list_text{
                float: left;
                padding-left: 10px;
                h3{
                    font-size: 14px;
                    width: 95px;
                    font-weight: normal;
                }
                p{
                    font-size: 16px;
                    margin-top: 30px;
                    font-weight: 600;
                }
            }
        }
       }
    }
    .auction_img{
        float: left;
        width: 223px;
        height:290px;
        position: relative;
        color: #fff;
        img{
            width: 100%;
            height: 100%;
        }
        .auciton_img_text{
            position: absolute;
            top: 30px;
            left: 50px;
            text-align: center;
            h3{
                font-size: 24px;
                font-weight: normal;
            }
            p{
                font-size: 16px;
                padding: 5px 10px;
                background: rgba(0, 0, 0, .5);
                border: 1px solid #fff;
            }

        }
    }
}
.activity_img{
    display: block;
    width: 100%;
    height: 90px;
    margin-top: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}
//共同模块 去抢购
.go_shopping{
    float: left;
    margin-left: 10px;

    span{
        padding: 5px 0 5px 10px;
        background-color: @color-main;
        color: #fff;
        font-size: 14px;
        float: left;
        text-decoration: none;
        background-color: none;
        
    }
    i{
        float: left;
        width: 0;
        height: 0;
        border: 14px solid transparent;
        border-left-color: @color-main;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right: none;
    }
}
// 商品分类开始
.class_title{
    border-bottom: 1px solid @color-main;
    overflow: hidden;
    margin-top: 40px;
    .class_left{
        float: left;
        width: 325px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        span{
            float: left;
            width: 50px;
            height: 35px;
            line-height: 35px;
            background-color: @color-main;
            margin-right: 10px;
        }
        h3{
            float: left;
            width: 265px;
            height: 35px;
            line-height: 35px;
            font-weight: normal;
            font-size: 18px;
            background-color: @color-main;
        }
    }
    .class_rigti{
        float: left;
        width: 855px;
        margin-left: 20px;
        position: relative;
        ul{
            padding: 0 20px;
            li{
                float: left;
                height: 35px;
                line-height: 35px;
                a{
                    font-size: 14px;
                    color: @color-main;
                    margin: 0 30px;
                }
            }
        }
        .left_arrow{
            position: absolute;
            text-align: center;
            left: 0;
            top:7.5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: #fff;
            background-color: @color-main;
        }
        .right_arrow{
            position: absolute;
            text-align: center;
            right: 0;
            top:7.5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: #fff;
            background-color: @color-main;
        }
    }
}
.class_con{
    margin-top: 10px;
    height: 430px;
   
    .class_swiper{
        width: 325px;
        position: relative;
        float: left;
        img{
            height: 100%;
        }
        p{
            position: absolute;
            bottom: 80px;
            left: 102px;
            font-size: 16p;
            padding: 5px 20px;
            background-color: #fff;
            color: #67cdd2;
        }
        ul{
            position: absolute;
            bottom: 30px;
            left: 102px;
            li{
                float: left;
                width: 30px;
                height: 5px;
                margin-right: 10px;
                background-color: rgba(0, 0, 0, .5);
            }
            .swiper_acitve{
                background-color: #fff;
            }
        }
    }
}
.class_list{
    width: 550px;
    float: left;
    border-top: 1px solid #d2d2d2;
    li{
        width: 183px;
        height: 215px;
        float: left;
        box-sizing: border-box;
        border-right: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;
        padding: 15px 20px;
        a{
            display: block;
            p{
                font-size: 14px;
                margin:10px 0 15px 0;
            }
            .price{
                margin: 0;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.class_list_col{
    float: left;
    width: 325px;
    height: 100%;
    border-bottom: 1px solid #d2d2d2;
    li{
        // float: left;
            // width: 321px;
            border-right:1px solid #d2d2d2; 
            border-top:1px solid #d2d2d2; 
            box-sizing: border-box;
            height: 143px;
          a{
            display: block;
            overflow: hidden;
            img{
                float: left;
                margin: 15px 20px;
            }
        .sekill_text{
            float: left;
            p{
                width: 100px;
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 14px;
            }
            h3{
                font-size: 16px;
            }
            .sekill_buy{
                margin-top: 15px;
                span{
                    float: left;
                    font-size: 14px;
                    padding:5px 10px;
                    text-decoration: line-through;
                }
                div{
                    float: left;
                    margin-left: 10px;
                    span{
                        padding: 5px 0 5px 10px;
                        background-color: @color-main;
                        color: #fff;
                        font-size: 14px;
                        float: left;
                        text-decoration: none;
                        
                    }
                    i{
                        float: left;
                        width: 0;
                        height: 0;
                        border: 14px solid transparent;
                        border-left-color: @color-main;
                        border-bottom-color: transparent;
                        border-top-color: transparent;
                        border-right: none;
                    }
                }
            }
        }
          }
    }
}
// 商品分类结束
