* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
body {
  font-size: 12px;
}
.width {
  width: 1200px;
  margin: 0 auto;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.top_bg {
  height: 40px;
  line-height: 40px;
  background-color: #efefef;
}
.top_bg a {
  color: #f67909;
}
.top_bg .top {
  width: 1200px;
  margin: 0 auto;
}
.top_bg .top .top_left {
  float: left;
}
.top_bg .top .top_left a:hover {
  text-decoration: underline;
}
.top_bg .top ul {
  float: right;
}
.top_bg .top ul li {
  float: left;
}
.top_bg .top ul li a {
  color: #666;
}
.top_bg .top ul li span {
  margin: 0 20px;
  color: #666;
}
.top_bg .top ul li a:hover {
  color: #f67909;
}
.top_middle {
  overflow: hidden;
}
.top_middle .logo {
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  width: 210px;
  height: 60px;
}
.top_middle .search {
  float: left;
  padding-left: 250px;
}
.top_middle .search .search_head {
  margin-top: 30px;
}
.top_middle .search .search_head li {
  float: left;
}
.top_middle .search .search_head li a {
  display: block;
  padding: 10px 20px;
  letter-spacing: 8px;
  color: #f67909;
}
.top_middle .search .search_head li .search_active {
  background-color: #f67909;
  color: #fff;
}
.top_middle .search .search_head li a:hover {
  background-color: #f67909;
  color: #fff;
}
.top_middle .search form input {
  float: left;
  width: 390px;
  height: 30px;
  border: 2px solid #f67909;
  outline: 0;
  padding-left: 20px;
}
.top_middle .search form a {
  float: left;
  width: 70px;
  height: 34px;
  background-color: #f67909;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
.top_middle .search .hot_sea {
  clear: both;
  padding-top: 20px;
}
.top_middle .search .hot_sea span {
  color: black;
  float: left;
}
.top_middle .search .hot_sea ul {
  float: left;
}
.top_middle .search .hot_sea ul li {
  float: left;
  padding: 0 10px;
}
.top_middle .search .hot_sea ul li a {
  color: #666;
}
.top_middle .search .hot_sea ul li a:hover {
  color: #f67909;
}
.top_middle .shopping {
  float: right;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-top: 60px;
  background-image: url(../images/cart_bg.png);
  background-repeat: no-repeat;
  position: relative;
}
.top_middle .shopping span {
  padding-left: 60px;
  color: #fff;
  background: url(../images/cart.png) no-repeat;
  background-position: 20px center;
}
.top_middle .shopping i {
  display: block;
  position: absolute;
  top: 5px;
  left: 40px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50px;
  font-style: normal;
  background-color: #fff;
  color: #f67909;
}
.top_nav {
  clear: both;
  padding-top: 25px;
  overflow: hidden;
}
.top_nav .memu {
  float: left;
  width: 230px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #f67909;
}
.top_nav .memu a {
  color: #fff;
  font-size: 16px;
  display: block;
}
.top_nav .memu a img {
  float: right;
  margin-top: 17px;
  margin-right: 17px;
}
.top_nav .memu_class {
  float: left;
}
.top_nav .memu_class li {
  float: left;
  margin-left: 80px;
}
.top_nav .memu_class li a {
  display: block;
  background-color: #f67909;
  line-height: 50px;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 50px 50px 0 0;
}
.top_nav .activity {
  float: right;
  height: 50px;
  line-height: 50px;
}
.top_nav .activity a {
  font-size: 16px;
  color: #f67909;
  margin-right: 40px;
}
.mian_top {
  clear: both;
  width: 100%;
  height: 520px;
  border-top: 4px solid #f67909;
  background-color: #fceddf;
}
.mian_top .width {
  overflow: hidden;
}
.mian_top .sub_column {
  float: left;
  width: 250px;
}
.mian_top .sub_column li {
  height: 42px;
  line-height: 43px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.mian_top .sub_column li a {
  font-size: 14px;
  color: #868685;
  display: block;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}
.mian_top .sub_column li a span {
  float: left;
}
.mian_top .sub_column li a i {
  float: right;
  margin-right: 20px;
}
.mian_top .sub_column li a:hover {
  background-color: #f67909;
  color: #fff;
}
.mian_top .banner {
  float: left;
  margin: 5px 5px 0 5px;
  width: 690px;
}
.mian_top .banner .ban_top {
  position: relative;
  width: 690px;
  height: 330px;
  box-sizing: border-box;
}
.mian_top .banner .ban_top .rotation li {
  height: 330px;
}
.mian_top .banner .ban_top .rotation img {
  width: 100%;
  height: 100%;
}
.mian_top .banner .ban_top .spot {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}
.mian_top .banner .ban_top .spot li {
  width: 17px;
  height: 4px;
  background-color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 14px;
}
.mian_top .banner .ban_top .spot .spot_activt {
  background-color: #f67909;
}
.mian_top .banner .ban_bot {
  padding-top: 1px;
}
.mian_top .banner .ban_bot li {
  float: left;
  width: 229px;
  height: 175px;
  margin-right: 1px;
}
.mian_top .banner .ban_bot li a {
  display: block;
  position: relative;
}
.mian_top .banner .ban_bot li a .bot_text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 229px;
  height: 175px;
  color: #fff;
  padding-top: 60px;
  box-sizing: border-box;
}
.mian_top .banner .ban_bot li a .bot_text h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.mian_top .sign {
  float: left;
  margin-top: 5px;
  width: 250px;
}
.mian_top .sign .sign_top {
  width: 250px;
  height: 45px ;
  line-height: 45px;
  text-align: center;
  background-color: #f67909;
}
.mian_top .sign .sign_top a {
  display: inline-block;
  background-color: #f67909;
  color: #fff;
  width: 110px;
  font-size: 15px;
}
.mian_top .sign .sign_top span {
  color: #666;
  font-size: 15px;
}
.mian_top .sign .notice {
  padding-top: 5px;
  height: 280px;
  overflow: hidden;
}
.mian_top .sign .notice .notce_title {
  overflow: hidden;
}
.mian_top .sign .notice .notce_title li {
  float: left;
  width: 125px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.mian_top .sign .notice .notce_title li a {
  font-size: 16px;
  display: block;
  background-color: #f1f1f1;
  color: black;
}
.mian_top .sign .notice .notce_title li .noatce_ative {
  border-top: 4px solid #f67909;
  background-color: #fff;
  font-weight: bold;
}
.mian_top .sign .notice .notce_con {
  clear: both;
  background-color: #fff;
  height: 264px;
}
.mian_top .sign .notice .notce_con li {
  padding-top: 15px;
}
.mian_top .sign .notice .notce_con li a {
  padding-left: 10px;
  font-size: 14px;
  color: #000;
  display: block;
}
.mian_top .sign .notice .notce_con li a span {
  float: right;
  margin-right: 20px;
}
.mian_top .sign .notice .notce_con li a:hover {
  color: #f67909;
}
.mian_top .sign .recommend h3 {
  font-size: 15px;
  border-left: 6px solid #f67909;
  background-color: #f0f0f0;
  padding: 5px 10px;
}
.mian_top .sign .recommend .rec_ban {
  background-color: #fff;
  text-align: center;
  height: 145px;
  position: relative;
}
.mian_top .sign .recommend .rec_ban ul img {
  margin-top: 15px;
}
.mian_top .sign .recommend .rec_ban .left_arrow {
  position: absolute;
  left: 0;
  top: 50px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  background: #a7a7a7;
  color: #fff;
  font-size: 20px;
}
.mian_top .sign .recommend .rec_ban .right_arrow {
  position: absolute;
  right: 0;
  top: 50px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  background: #a7a7a7;
  color: #fff;
  font-size: 20px;
}
.mian_top .sign .recommend .rec_ban p {
  font-size: 14px;
  margin-top: 6px;
}
.seckill {
  margin-top: 30px;
}
.seckill .sekill_time {
  float: left;
  width: 230px;
  height: 145px;
  background: url(../images/seckill.png) no-repeat;
  background-size: 100%;
  position: relative;
}
.seckill .sekill_time .sekill_time_title {
  position: absolute;
  right: -15px;
  top: 35px;
}
.seckill .sekill_time .sekill_time_title h3 {
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #e85246;
  float: left;
}
.seckill .sekill_time .sekill_time_title .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #e85246;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right: none;
}
.seckill .sekill_time .sekill_time_con {
  position: absolute;
  right: 0;
  top: 75px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #525252;
  background-color: #fffae8;
}
.seckill ul {
  float: left;
  width: 970px;
  height: 145px;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
}
.seckill ul li {
  float: left;
  width: 321px;
  border-right: 1px solid #d2d2d2;
  box-sizing: border-box;
}
.seckill ul li img {
  float: left;
  margin: 15px 20px;
}
.seckill ul li .sekill_text {
  float: left;
}
.seckill ul li .sekill_text p {
  width: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.seckill ul li .sekill_text h3 {
  font-size: 16px;
}
.seckill ul li .sekill_text .sekill_buy {
  margin-top: 15px;
}
.seckill ul li .sekill_text .sekill_buy span {
  float: left;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: line-through;
}
.seckill ul li .sekill_text .sekill_buy div {
  float: left;
  margin-left: 10px;
}
.seckill ul li .sekill_text .sekill_buy div span {
  padding: 5px 0 5px 10px;
  background-color: #f67909;
  color: #fff;
  font-size: 14px;
  float: left;
  text-decoration: none;
}
.seckill ul li .sekill_text .sekill_buy div i {
  float: left;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-left-color: #f67909;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right: none;
}
.seckill ul li:last-child {
  border: none;
}
.hot {
  clear: both;
}
.hot h3 {
  padding-top: 30px;
  margin-bottom: 15px;
  font-size: 26px;
}
.hot h3 span {
  font-size: 18px;
  color: #ccc;
  margin-left: 10px;
  font-weight: normal;
}
.hot .auction {
  float: left;
  width: 325px;
  height: 290px;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
}
.hot .auction .auction_title {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #f4f3f3;
  border-bottom: 1px solid #d2d2d2;
}
.hot .auction .auction_title h4 {
  float: left;
}
.hot .auction .auction_title h4 span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 8px solid #f67909;
  font-size: 15px;
}
.hot .auction .auction_title a {
  float: right;
  margin-right: 10px;
}
.hot .auction .auction_time {
  display: inline-block;
  margin-left: 60px;
  margin-top: 20px;
}
.hot .auction .auction_time span {
  display: inline-block;
  width: 30px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #f67909;
  color: #fff;
  margin: 0 2px;
}
.hot .auction .auction_banner {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.hot .auction .auction_banner .left_arrow {
  position: absolute;
  left: 0;
  top: 32px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  background: #a7a7a7;
  color: #fff;
  font-size: 20px;
}
.hot .auction .auction_banner .right_arrow {
  position: absolute;
  right: 0;
  top: 32px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  background: #a7a7a7;
  color: #fff;
  font-size: 20px;
}
.hot .auction .auction_text {
  display: block;
  overflow: hidden;
}
.hot .auction .auction_text h5 {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 14px;
}
.hot .auction .auction_text .sekill_buy {
  margin-left: 50px;
}
.hot .auction .auction_text .sekill_buy span {
  float: left;
}
.hot .auction .auction_text .sekill_buy .price {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}
.hot .auction .auction_text .sekill_buy .go_shopping {
  float: right;
  margin-right: 30px;
}
.hot .auction_list {
  float: left;
  width: 650px;
  border-bottom: 1px solid #d2d2d2;
  height: 290px;
  box-sizing: border-box;
}
.hot .auction_list li {
  float: left;
  width: 325px;
  height: 145px;
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  background: url(../images//hot.png) no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}
.hot .auction_list li a {
  display: block;
}
.hot .auction_list li a img {
  float: left;
  margin: 30px 15px 10px 16px;
}
.hot .auction_list li a .list_text {
  float: left;
  padding-left: 10px;
}
.hot .auction_list li a .list_text h3 {
  font-size: 14px;
  width: 95px;
  font-weight: normal;
}
.hot .auction_list li a .list_text p {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 600;
}
.hot .auction_img {
  float: left;
  width: 223px;
  height: 290px;
  position: relative;
  color: #fff;
}
.hot .auction_img img {
  width: 100%;
  height: 100%;
}
.hot .auction_img .auciton_img_text {
  position: absolute;
  top: 30px;
  left: 50px;
  text-align: center;
}
.hot .auction_img .auciton_img_text h3 {
  font-size: 24px;
  font-weight: normal;
}
.hot .auction_img .auciton_img_text p {
  font-size: 16px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}
.activity_img {
  display: block;
  width: 100%;
  height: 90px;
  margin-top: 30px;
}
.activity_img img {
  width: 100%;
  height: 100%;
}
.go_shopping {
  float: left;
  margin-left: 10px;
}
.go_shopping span {
  padding: 5px 0 5px 10px;
  background-color: #f67909;
  color: #fff;
  font-size: 14px;
  float: left;
  text-decoration: none;
  background-color: none;
}
.go_shopping i {
  float: left;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-left-color: #f67909;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right: none;
}
.class_title {
  border-bottom: 1px solid #f67909;
  overflow: hidden;
  margin-top: 40px;
}
.class_title .class_left {
  float: left;
  width: 325px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.class_title .class_left span {
  float: left;
  width: 50px;
  height: 35px;
  line-height: 35px;
  background-color: #f67909;
  margin-right: 10px;
}
.class_title .class_left h3 {
  float: left;
  width: 265px;
  height: 35px;
  line-height: 35px;
  font-weight: normal;
  font-size: 18px;
  background-color: #f67909;
}
.class_title .class_rigti {
  float: left;
  width: 855px;
  margin-left: 20px;
  position: relative;
}
.class_title .class_rigti ul {
  padding: 0 20px;
}
.class_title .class_rigti ul li {
  float: left;
  height: 35px;
  line-height: 35px;
}
.class_title .class_rigti ul li a {
  font-size: 14px;
  color: #f67909;
  margin: 0 30px;
}
.class_title .class_rigti .left_arrow {
  position: absolute;
  text-align: center;
  left: 0;
  top: 7.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #f67909;
}
.class_title .class_rigti .right_arrow {
  position: absolute;
  text-align: center;
  right: 0;
  top: 7.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #f67909;
}
.class_con {
  margin-top: 10px;
  height: 430px;
}
.class_con .class_swiper {
  width: 325px;
  height: 430px;
  position: relative;
  float: left;
}
.class_con .class_swiper img {
  height: 100%;
}
.class_con .class_swiper p {
  position: absolute;
  bottom: 80px;
  left: 102px;
  font-size: 16p;
  padding: 5px 20px;
  background-color: #fff;
  color: #67cdd2;
}
.class_con .class_swiper ul {
  position: absolute;
  bottom: 30px;
  left: 102px;
}
.class_con .class_swiper ul li {
  float: left;
  width: 30px;
  height: 5px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.class_con .class_swiper ul .swiper_acitve {
  background-color: #fff;
}
.class_list {
  width: 550px;
  float: left;
  border-top: 1px solid #d2d2d2;
}
.class_list li {
  width: 183px;
  height: 215px;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 15px 20px;
}
.class_list li a {
  display: block;
}
.class_list li a p {
  font-size: 14px;
  margin: 10px 0 15px 0;
}
.class_list li a .price {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.class_list_col {
  float: left;
  width: 325px;
  height: 100%;
  border-bottom: 1px solid #d2d2d2;
}
.class_list_col li {
  border-right: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
  box-sizing: border-box;
  height: 143px;
}
.class_list_col li a {
  display: block;
  overflow: hidden;
}
.class_list_col li a img {
  float: left;
  margin: 15px 20px;
}
.class_list_col li a .sekill_text {
  float: left;
}
.class_list_col li a .sekill_text p {
  width: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.class_list_col li a .sekill_text h3 {
  font-size: 16px;
}
.class_list_col li a .sekill_text .sekill_buy {
  margin-top: 15px;
}
.class_list_col li a .sekill_text .sekill_buy span {
  float: left;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: line-through;
}
.class_list_col li a .sekill_text .sekill_buy div {
  float: left;
  margin-left: 10px;
}
.class_list_col li a .sekill_text .sekill_buy div span {
  padding: 5px 0 5px 10px;
  background-color: #f67909;
  color: #fff;
  font-size: 14px;
  float: left;
  text-decoration: none;
}
.class_list_col li a .sekill_text .sekill_buy div i {
  float: left;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-left-color: #f67909;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right: none;
}
.service {
  height: 85px;
  margin-top: 40px;
  width: 100%;
  background-color: #dddddd;
}
.service li {
  float: left;
  height: 85px;
  line-height: 85px;
  vertical-align: middle;
  margin-right: 128.75px;
}
.service li img {
  margin-right: 20px;
  vertical-align: middle;
}
.service li span {
  font-size: 18px;
}
.service li:last-child {
  margin: 0;
}
footer {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  padding-bottom: 40px;
}
footer .footer {
  margin-bottom: 50px;
  overflow: hidden;
}
footer .footer a:hover {
  color: #f67909;
}
footer .footer dl {
  margin: 0 65px;
  margin-top: 60px;
  float: left;
}
footer .footer dl a {
  color: #fff;
}
footer .footer dl dt {
  margin-bottom: 20px;
}
footer .footer dl dt a {
  font-size: 16px;
}
footer .footer dl dd {
  margin-bottom: 20px;
}
footer .footer dl dd a {
  font-size: 13px;
  color: #999999;
}
footer p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 13px;
}
